.css-home-sub {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: stretch;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: auto;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
}

.css-home-wrap {
    width: 100%;
}

.css-header-wrap {
    background-color: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
}

@media (min-width: 600px) {
    .css-header-sub-common {
        padding-top: 60px;
        padding-bottom: 70px;
    }
}

.css-header-pos {
    position: relative;
}

.css-header-h3 {
    color: rgb(97, 218, 251);
    text-align: center;
    font-size: 45px;
    letter-spacing: 0.01em;
    margin: 0px;
}

.css-header-p {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
}

.css-section-subwrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
}
