.css-home {
    margin-top: 60px;
}

@media (min-width: 780px) and (max-width: 1279px) {
    .css-home {
        margin-top: 50px;
    }
}

@media (max-width: 779px) {
    .css-home {
        margin-top: 40px;
    }
}

/*.css-home-sub {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex: 1 0 auto;*/
    /*justify-content: stretch;*/
    /*align-items: flex-start;*/
/*}*/

.css-home-wrap {
    width: 100%;
}

.css-header-wrap {
    background-color: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
}

@media (min-width: 600px) {
    .css-header-sub-common {
        padding-top: 60px;
        padding-bottom: 70px;
    }
}

.css-header-pos {
    position: relative;
}

.css-header-h3 {
    color: rgb(97, 218, 251);
    text-align: center;
    font-size: 45px;
    letter-spacing: 0.01em;
    margin: 0;
}

.css-header-p {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
}

.css-section-subwrap {
    display: flex;
    flex-direction: row;
}
