.css-list {
    margin-bottom: 10px;
    font-feature-settings: "tnum";
}

.css-list-li {
    margin-top: 5px;
}

.css-list-a {
    cursor: pointer;
    color: rgb(26, 26, 26);
    display: inline-block;
    margin-top: 5px;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: border 0.2s ease 0s;
}